<MarketplaceDetails>
  <SmallAppTile>TileIcon.png</SmallAppTile>
  <ScreenShots>;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Prelude.png;ProFX.png;AddPhotos.png;Detail.png;Search.png;Tags.png;UserStream.png;Violet.png;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>